BasedOnStyle:                      LLVM
IndentWidth:                       4
ColumnLimit:                       100
IndentCaseLabels:                  true
AllowShortCaseLabelsOnASingleLine: true
AlignConsecutiveDeclarations:      true
AlignTrailingComments:             true
AlignConsecutiveAssignments:       true
