BasedOnStyle:                               LLVM
Language:                                   Cpp
IndentWidth:                                4
ColumnLimit:                                100
IndentCaseLabels:                           true
AlignConsecutiveDeclarations:               true
AlignTrailingComments:                      true
AlignConsecutiveAssignments:                true
AlignAfterOpenBracket:                      Align
#AlignConsecutiveMacros:                     true
AlignEscapedNewlines:                       Right
AlignOperands:                              true
#AllowAllArgumentsOnNextLine:                false
AllowAllParametersOfDeclarationOnNextLine:  false
AllowShortBlocksOnASingleLine:              false
AllowShortCaseLabelsOnASingleLine:          false
AllowShortFunctionsOnASingleLine:           Empty
AllowShortIfStatementsOnASingleLine:        false
BinPackArguments:                           false
BinPackParameters:                          false
BreakStringLiterals:                        true
IncludeBlocks:                              Regroup
KeepEmptyLinesAtTheStartOfBlocks:           false
MaxEmptyLinesToKeep:                        1
PointerAlignment:                           Middle
SortIncludes:                               true
SpaceAfterCStyleCast:                       true
#SpaceAfterLogicalNot:                       false
SpaceBeforeAssignmentOperators:             true
SpaceBeforeParens:                          ControlStatements
SpaceInEmptyParentheses:                    false
SpacesInCStyleCastParentheses:              false
SpacesInParentheses:                        false
SpacesInSquareBrackets:                     false
UseTab:                                     Never
